
<#-- getThumbnailUrlFromMimeType
 # Print the image url of the file corresponding to the specify mime type 
 # (display the image thumbnail if the file is an image or a standard image else).
 # The standard image collection is available
 #
 # param mimeType The standard mime type of the file (see http://www.mimetype.org/)
 # param fileUrl the file url. Used if the file is an image
-->
<#macro getDocumentThumbnailUrlFromMimeType mimeType fileUrl ><#assign file='themes/shared/plugins/document/images/filetypes/file.svg' /><#assign pdf='themes/shared/plugins/document/images/filetypes/file-type-pdf.svg' /><#if mimeType?starts_with('image/')>${fileUrl}<#elseif mimeType == 'application/pdf'>${pdf}<#else>${file}</#if></#macro>
